{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block layout %}

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
      <h3>Welcome {{ user.first_name }}</h3>
      <p>Where should we get started today?</p>
  </div>
</div>

<!-- row -->
<div class="row">
  <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-5 col-xs-offset-1" style="margin-top:20px;">
      <a href="{% url 'programs' %}" class="btn btn-large btn-primary btn-block">
          <i class="fa fa-dashboard fa-5x"></i><br>
          <span class="cta-primary-btn-text">Program Dashboard</span>
      </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-5" style="margin-top:20px;">
      <a href="{% url 'reports' %}" class="btn btn-large btn-warning btn-block">
          <i class="fa fa-bar-chart fa-5x"></i><br>
          <span class="cta-primary-btn-text">Get Started</span>
      </a>
  </div>
</div>
<!-- / row -->
<!-- row -->
<div class="row">
  <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-5 col-xs-offset-1" style="margin-top:20px;">
      <a href="{% url 'import_select' %}"  class="btn btn-large btn-primary btn-block">
          <i class="fa fa-cloud-upload fa-5x"></i><br>
          <span class="cta-primary-btn-text">Import</span>
      </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-5" style="margin-top:20px;">
      <a href="#"  class="btn btn-large btn-primary btn-block" disabled>
          <i class="fa fa-refresh fa-5x"></i><br>
          <span class="cta-primary-btn-text">Smart Clean</span>
      </a>
  </div>
</div>
<!-- / row -->

<br>


{% endblock %}
