{% load static %}
{% load staticfiles %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">RingLead</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_admin %}
        <li><a href="/admin/">RingLead Admin</a></li>
        {% endif %}
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Settings <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">User Management</a></li>
              <li><a href="{% url 'accounts:settings' %}">Connections</a></li>
              <li><a href="#">Billing & Payments</a></li>
            </ul>
        </li>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right">
          <!-- If anonymous -->
          <li><a href="{% url 'accounts:register' %}">Sign Up</a></li>
          <li><a href="{% url 'accounts:login' %}">Log In</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
