<ul class="dropdown-menu">
  <!-- if program is not already running, display option to run -->
  {% if item.status == 'COMPL' %}
    <li><a href="#">Run Again</a></li>
    <li><a href="{% url 'batch_select' item.pk %}">Edit</a></li>
    <li><a href="javascript:void(0)" data-url="{% url 'archive_program' pk=item.pk %}" class="archive-program">Archive</a></li>
  {% elif item.status == 'PEND' %}
    <li><a href="#">Cancel this program</a></li>
  {% elif item.status == 'RUN' %}
    <li><a href="#">Cancel this program</a></li>
  {% elif item.status == 'PAUSE' %}
    <li><a href="#">Run this program</a></li>
  {% elif item.status == 'ERROR' %}
    <li><a href="#">Run this program</a></li>
  {% elif item.status == 'RUN' %}
    <li><a href="#">Cancel this program</a></li>
  {% elif item.status == 'ACT' %}
    <li><a href="#">Cancel this program</a></li>
  {% endif %}
  <li><a href="{% url 'report_snapshot' item.pk %}">View Reports</a></li>
  <li><a href="{% url 'debug_dedupe' item.pk %}">[DEBUG] Duplicates</a></li>
</ul>
