{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block layout %}


      <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h3>Reports</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 well">
            <table class="table">
                <thead>
                    <tr>
                        <th>Program Name</th>
                        <th>Report: Quality Score Over Time</th>
                        <th>Report: Quality Snapshot</th>
                    </tr>
                </thead>
                {% if reports %}

                    <tbody>
                    {% for item in reports %}
                        <tr>
                            <td>{{ item.batch_program.name }}</td>
                            <td><a href="./qot/{{ item.id }}/">View this report</a></td>
                            <td><a href="./snapshot/{{ item.id }}/">View this report</a></td>

                        <tr>
                    {% endfor %}
                    </tbody>

                {% else %}  <!-- if there are no reports... -->
                    <p>Sorry, there are no reports to review at this time.</p>
                {% endif %}
            </table>
        </div>
      </div>




{% endblock %}
