{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block layout %}

    <div class="row">
        <div class="col-md-8 col-md-offset-1" align="center">
          <h3>{{ program.name }}: Quality Score Snapshot</h3>
        </div>
        <div class="col-md-2" align="center">
            <a href="{% url 'reports' %}" class="btn btn-default btn-sm">Back to Reports</a>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8 col-md-offset-2" align="center">
        <!-- Q Score boxes -->
        <div class="row">
            <div class="col-md-6 well">
              <h5>Current Quality Score</h5>
              <!-- Gauge via JustGage -->
              <div id="gauge_{{ qualityscorereport.id }}"></div>
              <script>
                var g = new JustGage({
                  id: "gauge_{{ qualityscorereport.id }}",
                  value: {{ program.get_current_quality_score.score }},
                  min: 0,
                  max: 100,
                  // label: "Excellent Quality",
                  levelColors : [  "#FF3300", "#FF9900", "#FFFF00",  "#33CC33" ],
                  // title: "Customer Contacts"
                });
              </script>
              <!-- End Gauge -->
              <p align="left">The current score for <b>{{ qualityscorereport.batch_program.name }}</b> is <b>{{ qualityscorereport.get_current_quality_score.score }}</b> out of 100.
                A variety of factors went into calculating this score such as validity of phone, email and location information, completeness of information, age of information and more.</p>
            </div>
            <div class="col-md-6" style="padding-left:80px">
                <br>
                <h5>Contributing Factors</h5>
                <p align="left">Below are some metrics that factor into the quality score calculation.</p>
                <p align="left" style="font-size:18px">
                      <i style="margin-right: 10px" class="fa fa-pie-chart text-primary"></i> <b>{{ qualityscorereport.get_current_quality_score.percent_complete }}%</b> record completeness
                      <br>
                      <i style="margin-right: 18px" class="fa fa-map-marker text-success"></i> <b>{{ qualityscorereport.get_current_quality_score.percent_valid_location }}%</b> valid location info
                      <br>
                      <i style="margin-right: 18px" class="fa fa-phone text-success"></i><b>{{ qualityscorereport.get_current_quality_score.percent_valid_phone }}%</b> valid phone info
                      <br>
                      <i style="margin-right: 15px" class="fa fa-envelope text-success"></i><b>{{ qualityscorereport.get_current_quality_score.percent_valid_email }}%</b> valid email addresses
                      <br>
                      <i style="margin-right: 18px" class="fa fa-ban text-danger"></i><b>{{ qualityscorereport.get_current_quality_score.percent_spam_email }}%</b> spam records
                      <br>
                      <i style="margin-right: 10px" class="fa fa-calendar text-warning"></i> Avg. age of a record: <b>{{ qualityscorereport.get_current_quality_score.avg_age }} days</b>
                      <br>
                      <i style="margin-right: 10px" class="fa fa-hand-pointer-o text-primary"></i> Time since last touch: <b>{{ qualityscorereport.get_current_quality_score.avg_since_last_modified }} days</b>

                </p>
            </div>
        </div>
        <!-- / Q Score boxes -->

      </div>
    </div>

{% endblock %}
