{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block layout %}


<div class="row">
  <div class="col-md-5 col-md-offset-1" align="left">
    <font size="6"><i class="fa fa-play"></i> Optimization Programs</font>
  </div>
  <div class="col-md-5" align="right" >
      <div class="btn-group btn-lg" role="group">
        <a class="btn btn-lg btn-default active">Dashboard View</a>
        <a class="btn btn-lg btn-default">List View</a>
      </div>

      <a href="{% url 'select_program_type' %}" class="btn btn-lg btn-success">Create</a>
  </div>
</div>
<br>
<div class="row" style="margin-left:40px; margin-right:40px">
    <div style="height:230px" class="container col-md-4">
        <div class="well well-sm">
          <div align="right">
              <span font="#C0C0C0"><i class="fa fa-times"></i></span>
          </div>
            <div align="center">
              <div align="center" id="customer-contacts" class="200x160px"></div>
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Edit this program <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Make Decisions</a></li>
                    <li><a href="#">View Reports</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Delete this Program</a></li>
                  </ul>
              </div>
            </div>
        </div>
    </div>

    <div style="height:230px" class="container col-md-4">
        <div class="well well-sm">
          <div align="right">
              <span font="#C0C0C0"><i class="fa fa-times"></i></span>
          </div>
            <div align="center">
              <div align="center" id="sales-qualified" class="200x160px"></div>
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Edit this program <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Make Decisions</a></li>
                    <li><a href="#">View Reports</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Delete this Program</a></li>
                  </ul>
              </div>
            </div>
        </div>
    </div>

    <div style="height:230px" class="container col-md-4">
        <div class="well well-sm">
          <div align="right">
              <span font="#C0C0C0"><i class="fa fa-times"></i></span>
          </div>
            <div align="center">
              <div align="center" id="dreamforce" class="200x160px"></div>
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Edit this program <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Make Decisions</a></li>
                    <li><a href="#">View Reports</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Delete this Program</a></li>
                  </ul>
              </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="row" style="margin-left:40px; margin-right:40px">
  <div style="height:230px" class="container col-md-4">
      <div class="well well-sm">
        <div align="right">
            <span font="#C0C0C0"><i class="fa fa-times"></i></span>
        </div>
          <div align="center">
            <div align="center" id="contact-form"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Edit this program <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Make Decisions</a></li>
                  <li><a href="#">View Reports</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Delete this Program</a></li>
                </ul>
            </div>
          </div>
      </div>
  </div>
  <div style="height:230px" class="container col-md-4">
      <div class="well well-sm">
        <div align="right">
            <span font="#C0C0C0"><i class="fa fa-times"></i></span>
        </div>
          <div align="center">
            <div align="center" id="webinar"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Edit this program <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Make Decisions</a></li>
                  <li><a href="#">View Reports</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Delete this Program</a></li>
                </ul>
            </div>
          </div>
      </div>
  </div>
</div>


<script>
  var g = new JustGage({
    id: "customer-contacts",
    value: 98,
    min: 0,
    max: 100,
    label: "Excellent Quality",
    levelColors : [  "#FF3300", "#FF9900", "#FFFF00",  "#33CC33" ],
    title: "Customer Contacts"
  });
</script>
<script>
  var g = new JustGage({
    id: "sales-qualified",
    value: 74,
    min: 0,
    max: 100,
    label: "Fair Quality",
    levelColors : [  "#FF3300", "#FF9900", "#FFFF00",  "#33CC33" ],
    title: "Sales Qualified Leads"
  });
</script>
<script>
  var g = new JustGage({
    id: "contact-form",
    value: 47,
    min: 0,
    max: 100,
    label: "Poor Quality",
    levelColors : [  "#FF3300", "#FF9900", "#FFFF00",  "#33CC33" ],
    title: "Contact Us Web Form"
  });
</script>
<script>
  var g = new JustGage({
    id: "dreamforce",
    value: 28,
    min: 0,
    max: 100,
    label: "Very Poor Quality",
    levelColors : [  "#FF3300", "#FF9900", "#FFFF00",  "#33CC33" ],
    title: "September Tradeshow"
  });
</script>
<script>
  var g = new JustGage({
    id: "webinar",
    value: 67,
    min: 0,
    max: 100,
    label: "Fair Quality",
    levelColors : [  "#FF3300", "#FF9900", "#FFFF00",  "#33CC33" ],
    title: "September '15 Webinar"
  });
</script>

{% endblock %}
