{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block layout %}


<div class="row">
  <div class="col-md-5 col-md-offset-1">
      <h3 class="subtle_header">New analysis program</h3>
  </div>
  <!--<div class="col-md-5" align="right" >
      <div class="btn-group btn-lg" role="group">
        <a href="{% url 'analysis_select' %}" class="btn btn-lg btn-default ">1</a>
        <a href="{% url 'analysis_confirm' %}" class="btn btn-lg btn-default active">2</a>
      </div>
  </div>-->
</div>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <!-- nested rows & columns -->
        <div class="row">
            <div class="col-md-12" align="center">
                <h3>Begin Analysis Program?</h3>
                <p>Ready to begin your data analysis?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2" align="center">
                <a href="#" class="btn btn-lg btn-default" style="margin:20px">No, cancel analysis
                <a href="#" class="btn btn-lg btn-success" style="margin:20px">Yes, begin analysis</a>
            </div>
        </div>
        <!-- / nested rows & columns -->
    </div>
</div>
<br>


{% endblock %}
