{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block layout %}
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h3>Step 1: Select a Data Set</h3>
  </div>
  <div class="col-md-5" align="right" >
      {% include 'includes/batch_program_button_group.html' %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-offset-1 col-md-offset-10">
    <div class="row">
      <div class="col-md-3">
        <h5>Select a Database</h5>
        <br>
        <div class="form-group">
          <select class="form-control" disabled>
            <option selected value="salesforce" >Salesforce</option>
            <option value="marketo">Marketo</option>
            <option value="custom_db">ERP System</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <h5>Select a Table</h5>
        <!-- For each available table... -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="checkbox">
                      <label><input type="checkbox" value="" checked disabled>Leads</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="" disabled>Contacts</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="checkbox disabled">
                      <label><input type="checkbox" value="" disabled>Accounts</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="" disabled>Opportunities</label>
                    </div>
                </div>
            </div>
      </div>
      <div class="col-md-3 col-md-offset-1" style="height:250px">
        <h5>Add Filters</h5>
        <br>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            {% if not field_filters %}
            <p>No filters selected</p>
            {% else %}
                {% for i in field_filters %}
                    <span style="font-size:16px" class="label label-primary">
                      <i>{{ i.field.get_label }}</i>
                      {{ i.get_operator_display }}
                      {{ i.field_value }}  &nbsp;&nbsp;&nbsp;
                      <form action="{% url 'delete_fieldfilter' i.pk %}" method="POST" style="display: inline-block;">
                        {% csrf_token %}
                        <button class="btn-link btn-link-delete-label" type="submit">
                          <i class="fa fa-times-circle fa-inverse"></i>
                        </button>
                      </form>
                    </span>
                    <br>
                    <br>
                {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="row" align="center">
          <a href="#" data-toggle="modal" data-target="#FiltersModal" class="btn btn-sm btn-default">Add a Filter</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12" align="center">
    <a href="{% url 'programs' %}" class="btn btn-lg btn-default">Cancel</a>
    <a href="{% url 'select_actions' program.pk %}" class="btn btn-lg btn-success">Continue</a>
  </div>
</div>

<!-- Filters Modal -->
<div class="modal fade" id="FiltersModal" tabindex="-1" role="dialog" aria-labelledby="FiltersModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="FiltersModalLabel">Add a Filter</h4>
      </div>

      <form method="POST" action="{% url 'batch_select' program.pk %}">
        {% csrf_token %}
        <div class="modal-body">
          <table class="table well">
            {{ form.non_field_errors }}
            <thead>
              <tr>
                <td>Field Name</td>
                <td>Operator</td>
                <td class="value-column">Value</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{ form.field | set_data:"live-search:true" | add_class:"selectpicker" }}
                </td>
                <td>
                  {{ form.operator }}
                </td>
                <td class="value-column">
                  {{ form.field_value }}
                </td>
              </tr>
              <tr>
                <td>
                  {% if form.field.errors %}
                  <div class="alert alert-danger">
                    {{ form.field.errors.as_text }}
                  </div>
                  {% endif %}
                </td>
                <td>
                  {% if form.operator.errors %}
                  <div class="alert alert-danger">
                    {{ form.operator.errors.as_text }}
                  </div>
                  {% endif %}
                </td>
                <td>
                  {% if form.field_value.errors %}
                  <div class="alert alert-danger">
                    {{ form.field_value.errors.as_text }}
                  </div>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Add this filter</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type='text/javascript'>
    var type_table = {{ type_table }};
    $(document).ready(function () {
      /* open modal if there are any errors in the form */
      {% if form.errors %}
      $('#FiltersModal').modal('show');
      {% endif %}
      /* filter operators depending on the selected field type */
      var allOptions = $('#id_operator option')
        $('#id_field').change(function () {
          $('#id_operator option').remove();
          var type = type_table[$('#id_field option:selected').text()]
          var value_cell  = $(".value-column");
          if (type == "boolean") {
            value_cell.hide();
          } else {
            value_cell.show();
          }
          var opts = allOptions.filter('.opfilter_' + type);
          $.each(opts, function (i, j) {
            $(j).appendTo('#id_operator');
          });

        }).change();
    });
</script>

{% endblock %}
