{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block layout %}


<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h3>Step 3: Confirm & Run</h3>
  </div>
  <div class="col-md-5" align="right" >
    <div class="btn-group btn-lg" role="group">
      <a href="{% url 'batch_select' object.pk %}" class="btn btn-lg btn-default ">1</a>
      <a href="{% url 'select_actions' object.pk %}" class="btn btn-lg btn-default">2</a>
      <a href="{% url 'batch_confirm' object.pk %}" class="btn btn-lg btn-default active">3</a>
    </div>
  </div>
</div>
<hr>
<br>
<br>
<form action="{% url 'batch_confirm' object.pk %}" method="POST" class="form-inline" role="form">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="row">
        <div class="col-md-12" align="center">
          <div class="form-inline form-group">
            <label for="program_name"><h5>Program name:</h5></label>
            {{ form.non_field_errors}}
            {{ form.name.errors }}
            {{ form.name | add_class:"form-control" | attr:"id:program_name" }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12" align="center">
      <a href="{% url 'programs' %}" class="btn btn-lg btn-default">Cancel</a>
      <button type="submit" class="btn btn-lg btn-success">Run Now</button>
    </div>
  </div>
</form>


{% endblock %}
