{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block layout %}
<div class="row" align="center">
  {% include 'includes/messages.html' %}
</div>

{% if programs %}

    {% include 'includes/program_header.html' %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <!-- Display 3x3 rows of dashboard elements -->
            <div class="row">
            {% for item in programs %}
                <div class="col-md-4 col-sm-4 well program-item">
                    <div class="row" align="center">
                        <div class="col-md-12">
                            <span style="font-size:24px">{{ item.name | truncatechars:20 }}</span><br>
                            <!-- Display Status in appropriately colored label with
                            optional icon -->
                            <span style="font-size:16px"
                                {% if item.status == 'RUN' %}
                                  class="label label-primary"><i class="fa fa-cog fa-spin"></i>
                                {% elif item.status == 'PEND' %}
                                  class="label label-primary"><i class="fa fa-circle-o-notch fa-spin"></i>
                                {% elif item.status == 'PAUSE' %}
                                  class="label label-default"><i class="fa fa-pause"></i>
                                {% elif item.status == 'ERROR' %}
                                  class="label label-danger"><i class="fa fa-exclamation-triangle"></i>
                                {% elif item.status == 'COMPL' %}
                                  class="label label-success"><i class="fa fa-check"></i>
                                {% endif %}

                            {{ item.get_status_display }}</span>
                            <!-- / display status -->
                        </div>
                    </div>
                    <div class="row" style="height:150px">
                        <div align="center">
                        {% with item.get_current_quality_score as qscore %}
                            {% if qscore.score > 0 %}
                                <!-- Gauge via JustGage -->
                                <div id="gauge_{{ item.id }}"></div>
                                <script>
                                  var g = new JustGage({
                                    id: "gauge_{{ item.id }}",
                                    value: {{ item.get_current_quality_score.score }},
                                    min: 0,
                                    max: 100,
                                    // label: "Excellent Quality",
                                    levelColors : [  "#FF3300", "#FF9900", "#FFFF00",  "#33CC33" ],
                                    // title: "Customer Contacts"
                                  });
                                </script>
                                <!-- End Gauge -->
                            {% else %}
                                <br>
                                <p>Calculating Quality Score...</p>
                                <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
                            {% endif %}
                        {% endwith %}
                        </div>
                    </div>
                    <div class="row" align="center">
                          <!-- Single button -->
                          <div class="btn-group dropup">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Options <span class="caret"></span>
                            </button>
                            <!-- inherit dropdown menu shared with other templates -->
                            {% include 'includes/program_btn_options.html' %}
                          </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>

            <div class="row">
                {% endif %}
                {% if forloop.last %}
            </div>
                {% endif %}
            {% endfor %}
            <!-- End dashboard row generator -->
        </div>
    </div>



{% else %}
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-12" align="center">
    <h5>It looks like you haven't created any programs yet {{ user.first_name }}.  Let's fix that!<h5>
    <a href="{% url 'select_program_type' %}" class="btn btn-lg btn-success">Create your first program</a>
  </div>
</div>

{% endif %}

<script>
    $(function () {
        $('.archive-program').click(function () {
            var $this = $(this), url = $this.data('url'), $container = $this.parents('.program-item');
            $container.append($('<div class="loading-container"><i class="fa fa-spinner fa-pulse"></i></div>'));
            $.get(url, function (){
                $container.remove();
            });
        });
    });
</script>
{% endblock %}
