<h1>Dedupe results</h1>
{% if dupes %}
<a href="{% url "debug_apply_dedupe" pk 'all' %}"><h2>Merge ALL dupes</h2></a>
<hr>
<br>
{% for dupe in dupes %}
<style>
  table {
    font-family: monospace;
    border-collapse: collapse;
  }
  td {
    border: 1px solid black;
    vertical-align: center;
  }
</style>
<table>
  <tr>
    <td style="border: none;"></td>
    {% for field in dupe.header %}
    <td><strong>{{ field }}</strong></td>
    {% endfor %}
  </tr>
  <tr style="background-color: #88c425;">
    <td><strong>Canonical</strong>:</td>
    {% for value in dupe.canonical %}
    <td><div style="width: 200px; overflow: hidden;">{{ value | linebreaksbr }}</div></td>
    {% endfor %}
  </tr>
  {% for record in dupe.records %}
  <tr>
    <td><strong>Record {{ forloop.counter }}:</strong></td>
    {% for value in record %}
    <td><div style="width: 200px;  overflow: hidden;">{{ value }}</div></td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<a href="{% url "debug_apply_dedupe" pk forloop.counter0 %}">Merge into Salesforce</a>
<br>
<br>
{% endfor %}
{% else %}
<h2>No duplicates found.</h2>
{% endif %}
