{% extends 'base.html' %}

{% load i18n %}
{% load static bootstrap3 %}

{% block layout %}
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>Step 1: Select Your .CSV File</h3>
  </div>
</div>
<hr>
<div class="row">
    <br>
    {% if not results %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-2 text-center">
                    <input class="form-control" maxlength="256" name="name"
                           placeholder="Enter a program name" required="required" type="text">
                </div>

                <div class="col-md-4">
                      <a href="#" class="btn btn-lg btn-primary btn-import-file">
                          Select File
                          <input name="csv_file" required="required" type="file">
                      </a>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <br>
                <br>
                <a href="{% url 'programs' %}" class="btn btn-lg btn-default">Cancel</a>
                <button type="submit" class="btn btn-lg btn-success">
                  <i class="fa fa-upload"></i>
                  Import
                </button>
            </div>
        </form>

    {% else %}
        <div class="col-xs-12">
            <p>
                Your file is uploaded and currently is being analysed.
                <br>
                Please check <a href="#">this</a> link to see its status.</p>
        </div>
    {% endif %}
</div>

<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-12" align="center">
  </div>
</div>
<br>
<br>

{% endblock %}
