
{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <style>
        .progress {
            height: 23px;
        }
        .progress-wrapper, .stats-wrapper {
            display: none;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'program_manager/qs_progress.js' %}"></script>
{% endblock %}

{% block layout %}

    <div class="row">
        <div class="col-md-5 col-md-offset-1" align="center">
          <h3>Step 2: Analyze</h3>
        </div>
        <div class="col-md-5" align="center">
            <a href="{% url 'programs' %}" class="btn btn-default btn-lg">Cancel</a>
            <a href="#" class="btn btn-success btn-lg" disabled>Optimize & Import This File</a>
        </div>
    </div>
    <hr>

    {% with object.get_current_quality_score as qscore %}
    <div class="row" id="qs-id" data-qs-id="{{ qscore.id }}">
      <div class="col-md-8 col-md-offset-2" align="center">
        <!-- Q Score boxes -->
        <div class="row">
            <div class="progress-wrapper">
                <p class="lead">
                    <strong>We are currently analyzing your file...</strong>
                </p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"
                         role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <span class="qs-progress">0</span>% Complete
                    </div>
                </div>
            </div>

            <div class="stats-wrapper">

                <div class="col-md-6 well">
                  <h5>Current Quality Score</h5>
                  <!-- Gauge via JustGage -->
                  <div id="gauge_{{ object.id }}"></div>
                  <!-- End Gauge -->
                  <p align="left">
                      The current score for <b>{{ object.name }}</b> is <b><span class="qs-score">{{ qscore.score }}</span></b> out of 100.
                      A variety of factors went into calculating this score such as validity of phone, email and location information, completeness of information, age of information and more.
                  </p>
                </div>
                <div class="col-md-6" style="padding-left:80px">
                    <br>
                    <h5>Contributing Factors</h5>
                    <p align="left">Below are some metrics that factor into the quality score calculation.</p>
                    <p align="left" style="font-size:18px">
                        <i style="margin-right: 10px" class="fa fa-pie-chart text-primary"></i>
                        <b class="qs-percent_complete">{{ qscore.percent_complete|default:'' }}</b>% record completeness
                        <br>
                        <i style="margin-right: 18px" class="fa fa-map-marker text-success"></i>
                        <b class="qs-percent_valid_location">{{ qscore.percent_valid_location|default:'' }}</b>% valid location info
                        <br>
                        <i style="margin-right: 18px" class="fa fa-phone text-success"></i>
                        <b class="qs-percent_valid_phone">{{ qscore.percent_valid_phone|default:'' }}</b>% valid phone info
                        <br>
                        <i style="margin-right: 15px" class="fa fa-envelope text-success"></i>
                        <b class="qs-percent_valid_email">{{ qscore.percent_valid_email|default:'' }}</b>% valid email addresses
                        <br>
                        <i style="margin-right: 18px" class="fa fa-ban text-danger"></i>
                        <b class="qs-percent_spam_email">{{ qscore.percent_spam_email|default:'' }}</b>% spam records
                        <br>
                        <i style="margin-right: 10px" class="fa fa-calendar text-warning"></i> Avg. age of a record:
                        <b class="qs-avg_age">{{ qscore.avg_age|default:'' }} </b> days
                        <br>
                        <i style="margin-right: 10px" class="fa fa-hand-pointer-o text-primary"></i> Time since last touch:
                        <b class="qs-avg_since_last_modified">{{ qscore.avg_since_last_modified|default:'' }} </b> days
                    </p>
                </div>
            </div>
        </div>
        <!-- / Q Score boxes -->

      </div>
    </div>
    {% endwith %}

{% endblock %}
