{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block layout %}

{% if programs %}

    {% include 'includes/program_header.html' %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
              <table class="table">
                <thead>
                  <tr>
                    <th>Options</th>
                    <th>Program Name</th>
                    <th>Status</th>
                    <th style="text-align:center">Quality Score</th>
                    <th style="min-width: 40px;"></th>
                  </tr>
                </thead>
                <tbody>

                  <!-- Loop through all programs and create rows for each -->
                  {% for item in programs %}
                  <tr>
                    <td>
                      <!-- Options button -->
                      <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="caret"></span>
                        </button>
                        <!-- inherit dropdown menu shared with other templates -->
                        {% include 'includes/program_btn_options.html' %}
                      </div>
                    </td>
                    <td>{{ item.name  | truncatechars:50 }}</td>
                    <td>

                      <!-- Display Status in appropriately colored label with
                      optional icon -->
                      <span style="font-size:16px"
                          {% if item.status == 'RUN' %}
                            class="label label-primary"><i class="fa fa-cog fa-spin"></i>
                          {% elif item.status == 'PEND' %}
                            class="label label-primary"><i class="fa fa-circle-o-notch fa-spin"></i>
                          {% elif item.status == 'PAUSE' %}
                            class="label label-default"><i class="fa fa-pause"></i>
                          {% elif item.status == 'ERROR' %}
                            class="label label-danger"><i class="fa fa-exclamation-triangle"></i>
                          {% elif item.status == 'COMPL' %}
                            class="label label-success"><i class="fa fa-check"></i>
                          {% endif %}
                      {{ item.get_status_display }}</span>

                    </td>

                    <!-- qscore display -->
                    <td align="center">
                    {% with item.get_current_quality_score as qscore %}
                        {% if qscore.score > 0 %}
                            <b>{{ item.get_current_quality_score.score }}<b>
                        {% else %}
                          Calculating Quality Score...
                          <i class="fa fa-circle-o-notch fa-spin"></i>
                        {% endif %}
                    {% endwith %}
                    </td>
                    <td style="min-width: 40px;">

                    </td>
                    <!-- / qscore display -->
                  </tr>
                  {% endfor %}
                  <!-- / loop -->



                </tbody>
              </table>
        </div>
    </div>



{% else %}
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-12" align="center">
    <h5>It looks like you haven't created any programs yet {{ user.first_name }}.  Let's fix that!<h5>
    <a href="{% url 'select_program_type' %}" class="btn btn-lg btn-success">Create your first program</a>
  </div>
</div>

{% endif %}


<script>
    $(function () {
        $('.archive-program').click(function () {
            var $this = $(this), url = $this.data('url'), $tr = $this.parents('tr'), $lastTd = $tr.find('td:last');
            $tr.find('td').css('opacity', 0.3);
            $lastTd.append($('<i class="fa fa-spinner fa-pulse td-archive-loading"></i>'));
            $lastTd.css('opacity', 1);
            $.get(url, function (){
                $tr.remove();
            });
        });
    });
</script>
{% endblock %}
