{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load formset_tags %}
{% load widget_tweaks %}

{% block layout %}

<!-- This screen uses Bootstrap Toggle: http://www.bootstraptoggle.com/
Event propagation example is available halfway down on that page -->
<form method="POST" action={% url 'select_actions' program.pk %}>
{% csrf_token %}
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h3>Step 2: Select Actions</h3>
  </div>
  <div class="col-md-5" align="right" >
    <div class="btn-group btn-lg" role="group">
      <a href="{% url 'batch_select' program.pk %}" class="btn btn-lg btn-default ">1</a>
      <a href="{% url 'select_actions' program.pk %}" class="btn btn-lg btn-default active">2</a>
      <a href="{% url 'batch_confirm' program.pk %}" class="btn btn-lg btn-default">3</a>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h5>General Settings</h5>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8 well">
    <!-- nested columns -->
    <div class="col-md-6">
      <div class="checkbox checkbox-space">
        {{ settings_form.non_field_errors }}
        <label>
          {{ settings_form.dedupe.errors }}
          {{ settings_form.dedupe | set_data:'toggle:toggle' }}
          Dedupe  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#dedupeModal" class="btn btn-xs">Settings</a>
        </label>
      </div>
      <div class="checkbox disabled checkbox-space"> <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Smart Fill  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#smartFillModal" class="btn btn-xs">Settings</a>
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="checkbox checkbox-space">
        {{ settings_form.analyze_only.errors }}
        <label>
          {{ settings_form.analyze_only | set_data:'toggle:toggle' }}
          Analyze Only Mode
          <i  class="fa fa-question-circle"
              data-toggle="tooltip"
              title="When Analyze Only mode is turned on we will analyze your data without making any changes.  Once complete you can review all of the proposed changes in a CSV file."
              data-placement="top"
              class="btn btn-large btn-primary btn-block"
              ></i>
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" data-toggle="toggle" disabled>
          Junk Record Removal
        </label>
      </div>
    </div>
    <!-- / nested columns -->
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h5>Company Optimization</h5>
    <p>How RingLead should append, standardize and update your company information.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8 well">
    <!-- nested columns -->
    <div class="col-md-6">
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Name
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Website
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Main Phone
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Annual Revenue
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Number of Employees
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Industry Classification
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Street Address
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          City
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          State
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Postal Code
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Country
        </label>
      </div>
    </div>
    <!-- / nested columns -->
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h5>Contact Optimization Options</h5>
    <p>How RingLead should append, standardize and update your contact information.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8 well">
    <!-- nested columns -->
    <div class="col-md-6">
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Name
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Email
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Main Phone
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Job Title
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Social Profiles
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Street Address
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          City
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          State
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Postal Code
        </label>
      </div>
      <div class="checkbox disabled checkbox-space">
        <label>
          <input type="checkbox" disabled data-toggle="toggle">
          Country
        </label>
      </div>
    </div>
    <!-- / nested columns -->
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12" align="center">
    <button type="submit" name='continue' class="btn btn-lg btn-success">Continue</button>
  </div>
</div>
<br>
<br>


<!-- Smart Fill Modal -->
<div class="modal fade" id="smartFillModal" tabindex="-1" role="dialog" aria-labelledby="smartFillModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dedupeModalLabel">Smart Fill Options</h4>
        <p>When enough training data is present, RingLead can automatically and intelligently fill picklist and other types of fields in your connected system(s).</p>
      </div>
      <div class="modal-body form-inline">
        <!-- begin formset -->
        <div class="formset" data-formset-prefix="">
          <div data-formset-body align="center">
              <div data-formset-form>
                Industry
                <button type="button" class="btn btn-xs" data-formset-delete-button><i class="fa fa-close text-default"></i></button>
              </div>
              <div data-formset-form>
                Region
                <button type="button" class="btn btn-xs" data-formset-delete-button><i class="fa fa-close text-default"></i></button>
              </div>
              <br>
              <input type="button" value="Add a field" class="btn btn-xs" data-formset-add>
          </div>
        </div>

        <!-- end formset -->
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Dedupe Modal -->
<div class="modal fade" id="dedupeModal" tabindex="-1" role="dialog" aria-labelledby="dedupeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dedupeModalLabel">Dedupe Options</h4>
      </div>
      <div class="modal-body form-inline">
        <!-- begin formset -->
        <h5>Records are duplicates if:</h5>
        <div class="formset" data-formset-prefix="{{ dupmatchrule_formset.prefix }}">
          {{ dupmatchrule_formset.management_form }}
          <div data-formset-body>
            {% for form in dupmatchrule_formset %}
              <div data-formset-form>
                <div class="grip"></div>
                {{ form }}
                <button type="button" class="transparent-button" data-formset-delete-button><i class="fa fa-close text-default"></i></button>
              </div>
            {% endfor %}
          </div>
          <script type="form-template" data-formset-empty-form>
            {% escapescript %}
            <div data-formset-form>
              <div class="grip"></div>
              {{ dupmatchrule_formset.empty_form }}
              {{ dupmatchrule_formset.empty_form.DELETE }}
              <button type="button" class="transparent-button" data-formset-delete-button><i class="fa fa-close text-default"></i></button>
              </div>
            {% endescapescript %}
          </script>
          <div align="center">
            <input type="button" value="Add matching value" class="btn btn-xs" data-formset-add>
          </div>
        </div>
        <!-- end formset -->
        <br>
        <!-- begin formset -->
        <h5>Default Merge Rules <i class="fa fa-question-circle" data-toggle="tooltip" title="Default rules help RingLead determine which record and values should be preserved post-merge." data-placement="right"></i></h5>
        <div class="formset" data-formset-prefix="{{ survivingrecordrule_formset.prefix }}">
          {{ survivingrecordrule_formset.management_form }}
          <div data-formset-body>
            {% for form in survivingrecordrule_formset %}
              <div data-formset-form>
                <div class="grip"></div>
                {{ form }}
                <button type="button" class="transparent-button" data-formset-delete-button><i class="fa fa-close text-default"></i></button>
              </div>
            {% endfor %}
          </div>
          <script type="form-template" data-formset-empty-form>
            <div data-formset-form>
              <div class="grip"></div>
              {{ survivingrecordrule_formset.empty_form }}
              {{ survivingrecordrule_formset.empty_form.DELETE }}
              <button type="button" class="transparent-button" data-formset-delete-button><i class="fa fa-close text-default"></i></button>
              </div>
          </script>
          <div align="center">
            <input type="button" value="Add surviving record rule" class="btn btn-xs" data-formset-add>
          </div>
        </div>
        <!-- end formset -->
        <br>
        <!-- begin formset -->
        <h5>Exception Merge Rules <i class="fa fa-question-circle" data-toggle="tooltip" title="An exception rule tells RingLead to ignore the default rules for a specific field when merging a group of duplicates." data-placement="right"></i></h5>
        <div class="formset" data-formset-prefix="{{ survivingvaluerule_formset.prefix }}">
          {{ survivingvaluerule_formset.management_form }}
          <div data-formset-body>
            {% for form in survivingvaluerule_formset %}
              <div data-formset-form>
                <div class="grip"></div>
                {{ form }}
                <button type="button" class="transparent-button" data-formset-delete-button><i class="fa fa-close text-default"></i></button>
              </div>
            {% endfor %}
          </div>
          <script type="form-template" data-formset-empty-form>
            <div data-formset-form>
              <div class="grip"></div>
              {{ survivingvaluerule_formset.empty_form }}
              {{ survivingvaluerule_formset.empty_form.DELETE }}
              <button type="button" class="transparent-button" data-formset-delete-button><i class="fa fa-close text-default"></i></button>
              </div>
          </script>
          <div align="center">
            <input type="button" value="Add surviving value rule" class="btn btn-xs" data-formset-add>
          </div>
        </div>
        <!-- end formset -->
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>

<script type='text/javascript'>
    $(document).ready(function () {
      {% if open_modal %}
      $('#dedupeModal').modal('show');
      {% endif %}

      var operators_requiring_value = {{ operators_requiring_value | safe }};

      function update_formsets_order() {
          $('[data-formset-body]').each(function () {
            var order = 0;
            $(this).find('input[name$="ORDER"]').each(function () {
              $(this).val(++order);
            });
          });
      }

      $('.formset').formset({
        animateForms: true
      });

      $('[data-formset-add]').click(function () {
        enable_selectpickers();
        update_formsets_order();
      });

      $('[data-formset-body]').sortable({
        update: function(event, ui) {
          update_formsets_order();
        },
        placeholder: 'sortable-placeholder',
      });

      $(document).on('change', '.rule-operator', function () {
        var value_input = $(this).next('.rule-value');
        if (operators_requiring_value.indexOf($(this).val()) > -1) {
          //value_input.attr('style', 'display: inline !important');
          $(this).closest('div').find(':input').not('input[type=hidden], input[id$="-DELETE"], button').attr('style', 'display: inline !important; width: 20% !important');
        } else {
          $(this).closest('div').find(':input').not('input[type=hidden], input[id$="-DELETE"], button').removeAttr('style');
          value_input.attr('style', 'display: none !important');
        }
      });
      $('.rule-operator').change();

      /*
      $(document).on('submit', 'form', function(event) {
        event.preventDefault();
        var form_data = $(this).serializeArray();
        console.log(form_data);
        form_data.push({name: $(this).find('button:first').attr('name'),
                        value: $(this).find('button:first').attr('value')});
        $.ajax({
          context: this,
          url: $(this).attr('action'),
          type: $(this).attr('method'),
          data: form_data,

          success: function(data) {
            //$(this).closest('tr').remove();
            if ($(this).hasClass('delete-form')) {
              $(this).closest('tr').fadeOut();
              $(this).animate({'line-height': 0}, 1000).hide(1);
            }
            else {
              $(this).prev('table').find('tbody:first').html(data);
            }
          },

          error: function(xhr, msg, err) {
            alert('error while sending form: ' + err);
          }
        });
      });
      */
    });
</script>
{% endblock %}
