/* Cool Fade-In Stuff for Buttons */
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;

 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}

.fade-in.index_buttons {
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}

.fade-in.welcome_0 {
-webkit-animation-delay: 1s;
-moz-animation-delay:1s;
animation-delay: 1s;
}

.fade-in.welcome_1 {
-webkit-animation-delay: 3s;
-moz-animation-delay:3s;
animation-delay: 3s;
}

.fade-in.welcome_2 {
-webkit-animation-delay: 5s;
-moz-animation-delay:5s;
animation-delay: 5s;
}

.fade-in.welcome_3 {
-webkit-animation-delay: 7s;
-moz-animation-delay:7s;
animation-delay: 7s;
}

.fade-in.welcome_4 {
-webkit-animation-delay: 9s;
-moz-animation-delay:9s;
animation-delay: 9s;
}

.fade-in.welcome_btn {
-webkit-animation-delay: 12s;
-moz-animation-delay:12s;
animation-delay: 12s;
}

/* overwrite text-transform: Uppercase in Paper template */
.btn {
  text-transform: none;
}

/* enable hover for btn dropdowns */
.dropdown:hover .dropdown-menu {
display: block;
}

#tel-valid-msg, #tel-error-msg {
    position: absolute;
}
#tel-valid-msg i{
    color: #3c763d;
}
#tel-error-msg i{
    color: #a94442;
}

.checkbox-space {
  margin:20px;
  margin-top:30px;
  margin-bottom:30px;
}

.actions-box {
  height:100%;
}

.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 0px;
}

.subtle_header {
  color:#737373;
}

.cta-primary-btn-text {
  color:#fff;
  font-size:24px;
}

/* Add style for list import button */
.btn-import-file {
    position: relative;
    overflow: hidden;
}

.btn-import-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-link-delete-label:hover {
    background-color: #2196f3;
    color: #8c8c8c;
  }
.program-item {
    position: relative;
}
.program-item .loading-container {
    z-index: 15;
    background: rgba(255,255,255, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;top: 0;
    text-align: center;
}
.program-item .loading-container i {
    font-size: 100px;
}
i.td-archive-loading {
    font-size: 20px;
    float: right;
    margin-right: 10px;
}
